@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0px;
}

body{
  background-color: rgb(30, 30, 30);
}

.main{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.cabecera{
  width: 364;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titulo{
  color: rgba(196, 196, 204, 1);
  font-weight: 700;
}

.num{
  color: rgba(196, 196, 204, 1);
  font-weight: 400;
}
